{
  "printWidth": 80,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "offsetTernaryExpressions": true,
  "breakBeforeElse": true,
  "singleAttributePerLine": true,
  "importFormatting": "oneline"
}
