#app,
body,
html {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: #eaefff;
  font-family: var(--primary-font);
  color: var(--text-primary-color);
}

#app {
  z-index: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#modals,
#alerts,
#popover {
  position: relative;
  z-index: 0;
}

#modals {
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modals > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

#modals > div > * {
  pointer-events: auto;
}

* {
  user-select: none;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

input,
textarea,
p,
pre,
h1,
h2 {
  user-select: text;
}

:is(input, textarea, p, pre, h1, h2) * {
  user-select: text;
}

a {
  --anchor-color: inherit;
  color: var(---anchor-color);
}

a:visited {
  color: var(---anchor-color);
}

button {
  color: inherit;
}

p,
h1,
h2,
h3 {
  font-size: inherit;
}

h1 {
  font-weight: normal;
}

h2,
h3 {
  font-weight: normal;
}
